/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .logomercado {
    text-align: center;
    padding: 20px;
  }
  
  .logomercado img {
    max-width: 100%;
    height: auto;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .tablink {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px; /* Adiciona espaço entre os botões */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .tablink.active {
    background-color: #0056b3;
  }
  
  .tabcontent {
    display: none;
    padding: 20px;
  }
  
  /* Estilo para desktop */
  @media (min-width: 768px) {
    .tabs {
      justify-content: flex-start;
      padding-left: 20px;
    }
  }
  
  /* Estilo para dispositivos móveis */
  @media (max-width: 767px) {
    .tabs {
      flex-direction: column;
      align-items: center;
    }
  
    .tablink {
      margin-bottom: 10px;
    }
  }
  
  /* Estilização da tabela e dos botões */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .produtovalido {
    color: #009900;
  }
  
  .produtovencido {
    color: #ff0000;
  }
  
  /* di dos botões */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Ajuste de espaçamento */
  form {
    margin-bottom: 20px;
  }
  